{# templates/blog/client.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Client{% endblock %}

{% block content %}
  
  <div class="container mt-5">		
    <p> vos informations : </p>

    

   <table class="mt-3 table-client">
    <tr>
      <th>#</th>                                
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>  
      <th>Adresse</th>
      <th>Code postal</th>
      <th>ville</th>
      <th>Téléphone</th>                           
    </tr>
   
   {% for users in users %}
      <tr>
        <td>{{ users.id}}</td>
        <td>{{ users.name}}</td>
        <td>{{ users.firstname}}</td>
        <td>{{ users.email}}</td>
        <td>{{ users.adress}}</td>
        <td>{{ users.postcode}}</td>
        <td>{{ users.city}}</td>
        <td>{{ users.phone}}</td>        
      </tr>
       
  {% endfor %}  
  

{% endblock %}
